<launch>
	<param name="robot_description" textfile="$(find direct_lidar_odometry)/urdf/m2_test.urdf" />
	<!-- robot_state_publisher -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="m2d_state_publisher" respawn="true" respawn_delay="3" />
	<!-- joint_state_publisher -->
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="m2d_joint_state_publisher" respawn="true" respawn_delay="3" />

</launch>
